# 지난시간 복습

# + - * /
# // 몫(정수) % 나머지   몫,나머지 operator 
# asterisk (*)
# variable: 변할 수 있는 수

# Primitive Type: 원시 자료형 
# 3 => integer (정수)
# 3.0 => float(floating point, 실수)
# " hello" => string(문자열) => "c" => character(글자)
# True, False => bool(boolean, 부울)

In [11]:
# 자료형 변환 (type casting)
# type(var)

type("3"),type(3)

(str, int)

In [18]:
# int(str) == int
int("3") == 3

True

In [19]:
# str(int) == str
'3' == str(3)

True

In [21]:
# float(str) == float
# float(int) == float
float("3") == 3.0, float(3) == 3.0

(True, True)

In [23]:
# roundup = ceil, round = round, rounddown = floor

In [2]:
name_ = input()
print("Hello,"+ name_)

이상화
Hello,이상화

In [4]:
# parameter: 입력하는 인자
name_ = input("이름을 입력하세요: ")
print('"Hello, ' + name_ + '"')

이름을 입력하세요: 이상화
"Hello, 이상화"

In [5]:
# type(input(int, str, float))?
type(input(3)), type(input('3')), type(input(3.0))

3d
3d
3.0d

(str, str, str)

In [12]:
# typecasting(input)은 미리 미리 하는게 편리
# 가급적 미리 casting
age = int(input("만 나이를 입력하세요. 오로지 숫자만")) + 1
age

만 나이를 입력하세요. 오로지 숫자만20

21

In [19]:
# eval(): 값의 자료형을 판단해서 바꿔준다.
text = (input("아무거나 입력하세요: "))

# eval의 parameter에 input 사용시 문자열을 입력하려고 할경우 " "를 사용해야한다
# input은 문자열 입력시 str로 판단하지 않고 varialbe로 판단한다.

아무거나 입력하세요: 21

In [15]:
type(text)

str

In [22]:
#range를 이용한 index활용
some_string = "python"

In [27]:
some_string[4] # "o"

'o'

In [28]:
some_string[1:4]

'yth'

In [29]:
some_string[3:]

'hon'

In [31]:
some_string[:3]

'pyt'

In [33]:
some_string[::-1]

'nohtyp'

In [35]:
# 부호가 '+' 일때는 모두 '+'
# 정확하게는 범위 (range)를 벗어나서 움직이면 값이 나오지 않는다.
# 2 ~ 4가 범위인데 2, 1, 0 ... 이렇게 움직일 수는 없다
some_string[-1:-5:-1]

'noht'

In [36]:
some_list = [ 1,2,3 ]
some_list[0] = 0

In [37]:
some_list

[0, 2, 3]

In [38]:
# str은 직접 접근이 허용 되지 않는다.
# 대신 replace 함수 (객체..?)를 사용하여 해결 한다.
some_string.replace("p", "c")

'cython'

In [42]:
#활용
ppap = "penpineappleapplepen"
ppap[:8] + "c" + ppap[9:]

'penpineacpleapplepen'

In [45]:
# 문자, 단어, 패턴을 파악하는데 사용할수 있다.

ppap.count("p"),ppap.count("apple")

(7, 2)

In [46]:
# 문자, 단어, 패턴이 어디있는지 활용할수 있다
ppap.find("ea")   # 처음으로 잡히는것만 보여준다

6

In [47]:
ppap[7:].find("ea")

4

In [157]:
"fast".join("안녕하세요")

'안fast녕fast하fast세fast요'

In [52]:
",".join("Python is awesome!").split(",")

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'w',
 'e',
 's',
 'o',
 'm',
 'e',
 '!']

In [53]:
moonjang = "Python is awesome language!!!"

In [56]:
moonjang.split(" ") # == moonjang.split()

['Python', 'is', 'awesome', 'language!!!']

In [60]:
say_hi = "            안녕       "
say_hi.strip()

'안녕'

In [65]:
say_hi = "      ...   안녕   ..    "
say_hi.strip("   .  ")

'안녕'

In [70]:
# string formatting
#* templating: 형식을 만들고 어느 곳에 ...
some_template = "I have a pen, I have an apple."
some_template

'I have a pen, I have an apple.'

In [72]:
some_template = "I have a {}, i have an {}."
some_template

'I have a {}, i have an {}.'

In [73]:
some_template.format("pen", "apple")

'I have a pen, i have an apple.'

In [74]:
some_template.format("pineapple", "pen")

'I have a pineapple, i have an pen.'

In [80]:
# index를 활용한 순서 변경
some_template = "I have a {1}, i have an {0}."
some_template

'I have a {1}, i have an {0}.'

In [81]:
some_template.format("pen","apple")

'I have a apple, i have an pen.'

In [83]:
# string formatting을 이용한 input
name_ = input("이름을 입력하세요: ")
print('"Hello, {}"'.format(name_))

이름을 입력하세요: 이상화
"Hello, 이상화"

In [84]:
print(input()'Hello, {}')

SyntaxError: invalid syntax (<ipython-input-84-de441bc09440>, line 1)

In [86]:
print('"Hello, {:12}"'.format("fastcampus"))

"Hello, fastcampus  "

In [88]:
print('"Hello, {0:12}"'.format("fastcampus","김패캠"))

"Hello, fastcampus  "

In [97]:
# padding 내부여백
print('"Hello, {1:12}"'.format("fastcampus","김패캠"))
# padding 의 활용
print('"Hello, {0:12}"'.format("fastcampus","FCKIM"))
print('"Hello, {1:12}"'.format("fastcampus","FCKIM"))

"Hello, 김패캠         "
"Hello, fastcampus  "
"Hello, FCKIM       "

In [99]:
# align
print('""')
# example
print("ID:  {0:*<7}".format("kimfacamp"[:2]))

ID:  ki*****

# List, Tuple

In [113]:
# List, Tuple 여러개의 자료를 일일이 나누지 않고 묶음, 순서를 가지고 있다
fruits = "banana", "apple", "kiwi"
fruits

('banana', 'apple', 'kiwi')

In [107]:
animals =  "giraffe", "dog", "cat"
animals

('giraffe', 'dog', 'cat')

In [110]:
animals[0]

'giraffe'

In [130]:
# List와 Tuple의 차이 
some_list = [1,2,3,4,5]
some_tuple = (1,2,3,4,5)

In [131]:
# List는 append가 가능하고 Tuple는 불가능
# 고로 tuple에 추가 하고 싶다면 형변환을 이용한다.
# tuple은 변경 불가능한 묶음 자료형
# List는 변경 가능한 묶음 자료형
some_list.append(6)
some_list

[1, 2, 3, 4, 5, 6]

In [132]:
print(some_tuple)
listed_tuple = list(some_tuple)

(1, 2, 3, 4, 5)

In [133]:
listed_tuple.append(6)
listed_tuple

[1, 2, 3, 4, 5, 6]

In [148]:
some_tuple = tuple(listed_tuple)
some_tuple

(1, 2, 3, 4, 5, 6)

In [149]:
#list 뒤에 추가
lang_list = []

In [150]:
lang_list.append("python")

In [151]:
lang_list.append("java")

In [152]:
lang_list.append("cpp")

In [153]:
lang_list

['python', 'java', 'cpp']

In [154]:
# list중간에 값 삽입
lang_list.insert(1,"c")
lang_list

['python', 'c', 'java', 'cpp']

In [158]:
# list에서 제거
# delete, remove, erase
# delete :  공간을 제거
# remove :  공간을 초기화 (list에서 중복되는 값이 있다면 0부터 처음 만나는 값을 제거)
# erese:    포인터를 초기화
# pop:      값을 지우고 지우려는 값을 할당할 수 있다.

In [156]:
# list에서 값을 변경
lang_list[2] = "golang"
lang_list

['python', 'c', 'golang', 'cpp']

In [160]:
#값을 정렬
some_numbers = [ -12, 5, 8, 0, 1.0, 3, - 15]
some_numbers

[-12, 5, 8, 0, 1.0, 3, -15]

In [165]:
some_numbers.sort()
some_numbers

[-15, -12, 0, 1.0, 3, 5, 8]

In [164]:
some_numbers[::-1]

[8, 5, 3, 1.0, 0, -12, -15]

In [169]:
some_numbers.sort(reverse=True)
some_numbers

[8, 5, 3, 1.0, 0, -12, -15]

In [170]:
x = 1
y = -1

print(x,y)
(x,y) = (y,x)

print(x,y)

# list는 가변성이므로 자리변경에는 비가변성인 튜플을 사용한다.

1 -1
-1 1

# dictionary

In [171]:
dict1 = {}

In [172]:
dict1["a"] = 1
dict1

{'a': 1}

In [175]:
dict1["c"] = 3
dict1

{'a': 1, 'c': 3}

In [177]:
#성적표: Korean, Math, English, Science, SS[1,1,1,1], Ethics [True, False]
dict2 = {}

In [186]:
dict2["Korean"] = 10
dict2["Math"] = 80
dict2["English"] = 70
dict2["Science"] = [10,20,30,40]
dict2["SS"] = [0,0,0,0]
dict2["Ethics"] = True
dict2

{'Korean': 10,
 'Math': 80,
 'English': 70,
 'Science': [10, 20, 30, 40],
 'Ethics': True,
 'SS': [0, 0, 0, 0]}

In [187]:
# 굉장히 중요한 del 사용법
del dict2["SS"]
dict2

{'Korean': 10,
 'Math': 80,
 'English': 70,
 'Science': [10, 20, 30, 40],
 'Ethics': True}

In [188]:
dict2.keys()

dict_keys(['Korean', 'Math', 'English', 'Science', 'Ethics'])

In [190]:
dict2.values()

dict_values([10, 80, 70, [10, 20, 30, 40], True])

In [191]:
dict2.items()

dict_items([('Korean', 10), ('Math', 80), ('English', 70), ('Science', [10, 20, 30, 40]), ('Ethics', True)])

In [198]:
# 두개의 리스트를 합친다 
list(zip(dict2.keys(), dict2.values())) #이렇게 하시면 안됩니다.

[('Korean', 10),
 ('Math', 80),
 ('English', 70),
 ('Science', [10, 20, 30, 40]),
 ('Ethics', True)]

# set

집합연산을 하기 위해 사용.
하지만 보통 문자열 처리를 위해 사용한다.( 집합의 특성으로 )

In [200]:
set_a = set("fastcampus")
set_a

{'a', 'c', 'f', 'm', 'p', 's', 't', 'u'}

In [201]:
set_b = set("gangnam")
set_b

{'a', 'g', 'm', 'n'}

In [202]:
set_b | set_a

{'a', 'c', 'f', 'g', 'm', 'n', 'p', 's', 't', 'u'}

In [203]:
set_a & set_b

{'a', 'm'}

In [204]:
set_a - set_b

{'c', 'f', 'p', 's', 't', 'u'}

In [205]:
set_a ^ set_b

{'c', 'f', 'g', 'n', 'p', 's', 't', 'u'}